h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #ffbb00;
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 5%;
    padding-top: 0;
    height: 100vh;
}

.side {
    margin-left: 0;
}

button {
    margin: 10px;
    border-color: #ffbb00 !important;
    color: #000000 !important;
    margin-bottom: 25px;
}

button:hover {
    background-color: #fffd84 !important;
}

textarea {
    padding: 3%;
    border-color: #ffbb00;
    border-width: thick;
}

.flex-box {
    display: flex;
    justify-content: center;
}


  

